.App {
  text-align: center;
  background-color: #4287f5;
  margin: 0;
  height: 100%;

}
html, body, #app, #app>div {
  height: 100%;
  background-color: #4287f5;

}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-title {
  font-size: 22px;
  font-weight: 300;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
